<html class="bg-transparent">
  <head>
    <title>StayFocusd : Action Required</title>
    <link href="../../common/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="../../common/css/base.css" rel="stylesheet" type="text/css" />
    <link href="../../common/css/tailwind.css" rel="stylesheet" type="text/css" />
    <link href="onboarding-required.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" data-main="main" src="/core/vendor/require.js"></script>
  </head>
  <body></body>
</html>
