[Desktop Entry]
Icon=image-png
Name=1920x1080.png
Type=Link
URL[$e]=file:///usr/share/wallpapers/FlyingKonqui/contents/images/1920x1080.png
X-KDE-LastOpenedWith=
