[Desktop Entry]
Icon=application-x-zstd-compressed-tar
Name=catppuccin-kde-theme-0.2.3-2-any.pkg.tar.zst
Type=Link
URL[$e]=file:$HOME/Downloads/catppuccin-kde-theme/catppuccin-kde-theme-0.2.3-2-any.pkg.tar.zst
X-KDE-LastOpenedWith=org.kde.ark
