[Desktop Entry]
Icon=application-x-compressed-tar
Name=catppuccin-kde-theme.tar.gz
Type=Link
URL[$e]=file:$HOME/Downloads/catppuccin-kde-theme.tar.gz
X-KDE-LastOpenedWith=
