[Desktop Entry]
Icon=application-zip
Name=Good Mood (4).zip-20230629T152658Z-001.zip
Type=Link
URL[$e]=file:$HOME/Downloads/Good Mood (4).zip-20230629T152658Z-001.zip
X-KDE-LastOpenedWith=
