[Desktop Entry]
Icon=image-png
Name=oshin.png
Type=Link
URL[$e]=file:$HOME/Oshin/oshin-grub/oshin/icons/oshin.png
X-KDE-LastOpenedWith=org.kde.gwenview
