[Desktop Entry]
Icon=application-x-compressed-tar
Name=sddm-theme-astronaut.tar.gz
Type=Link
URL[$e]=file:$HOME/Downloads/sddm-theme-astronaut.tar.gz
X-KDE-LastOpenedWith=
