<html class="h-[180px] min-w-[420px]">
  <head>
    <title>StayFocusd : Popup</title>
    
    
    <script type="module" crossorigin src="/components/Popup/popup.js"></script>
    <link rel="modulepreload" crossorigin href="/Logger.js">
    <link rel="modulepreload" crossorigin href="/CoreAPI.js">
    <link rel="modulepreload" crossorigin href="/jquery.js">
    <link rel="modulepreload" crossorigin href="/Brightline.min.js">
    <link rel="modulepreload" crossorigin href="/BasePrompt.js">
    <link rel="modulepreload" crossorigin href="/iconify-icon.js">
    <link rel="stylesheet" href="/Logger.css">
  </head>
  <body class="min-w-[480px]"></body>
</html>
