<!-- Container -->
<div class="p-4">
    <!-- Modal -->
    <div class="dialog flex flex-col bg-base-100 rounded-lg overflow-hidden">
        <!-- Header -->
        <div class="header flex p-2 justify-between items-center">
            <img class="logo-sf" src="/common/img/logo.svg" />
            <div class="btn btn-ghost btn-circle" id="btnDismiss">
                <svg class="Bz112c Bz112c-r9oPif" xmlns="https://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="#5f6368"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path><path fill="none" d="M0 0h24v24H0z"></path></svg>
            </div>
        </div>

        <!-- Content -->
        <div class="flex flex-col gap-4 p-4">
            <h1 data-i18n="required" class="text-lg font-bold"></h1>
            <p id="tosMessage" data-i18n="tosHaveChanged" class="text-base"></p>
            <p id="privacyPolicyMessage" data-i18n="onboardingConfirmMessage" class="text-base"></p>
            <button id="btnOpenSettings" class="btn btn-primary" data-i18n="openSettings" target="_blank"></button>
        </div>
    </div>
</div>
