<div class="shadow-[rgba(0,_0,_0,_0.24)_0px_3px_8px] rounded-2xl p-4 h-full">
    <div class="flex flex-col items-center m-5">
        <div class="tabs tabs-boxed">
            <a id="blockListBtn" class="tab tab-active">Blocked websites</a>
            <a id="allowedListBtn" class="tab">Allowed websites</a>
        </div>
        <div id="blockListTab">
            <div class="mt-4 text-center">
                <p class="inline-block font-bold text-base">Here's how you spent time on blocked sites:</p>
                <input type="date" class="inline-block p-1 border-slate-300 border rounded-sm" id="date" />
            </div>
            <canvas id="chart" width="540" height="450"></canvas>
            <div class="form-control">
                <label class="label cursor-pointer justify-start">
                    <input type="checkbox" class="checkbox checkbox-primary" id="ads" name="ads" />
                    <span id="adsLabel" for="ads" class="label-text ml-1 font-bold">Show ad count</span>
                </label>
                <p class="ml-1">The number of distractions you have had from these blocked websites</p>
            </div>
        </div>
        <div id="allowedListTab" class="hidden m-4 w-[70%]">
            <ul id="allowedList" class="list-disc">
            </ul>
        </div>
    </div>
</div>