<html class="bg-transparent">
  <head>
    <title>StayFocusd : Onboarding</title>
    
    <link href="/common/css/base.css" rel="stylesheet" type="text/css" />
    
    
    <script type="module" crossorigin src="/components/Onboarding/onboarding.js"></script>
    <link rel="modulepreload" crossorigin href="/Logger.js">
    <link rel="modulepreload" crossorigin href="/CoreAPI.js">
    <link rel="modulepreload" crossorigin href="/jquery.js">
    <link rel="modulepreload" crossorigin href="/Brightline.min.js">
    <link rel="modulepreload" crossorigin href="/iconify-icon.js">
    <link rel="stylesheet" href="/Logger.css">
    <link rel="stylesheet" href="/onboarding.css">
  </head>
  <body></body>
</html>
