p, h1, h2, h3, h4, h5, h6, li, label {
    line-height: 150%;
}

ul li {
    list-style: disc;
}

li {
    margin-left: 26px;
}
li > span:first-child {
    margin-left: -2px;
}
.text-sm li, li.text-sm {
    margin-left: 24px;
}
.text-sm li > span:first-child, li.text-sm > span:first-child {
    margin-left: -3px;
}
