@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

html {
    height:100%;
}

body {
    background:#333c40;
    color:#333c40;
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    /*font-family:Helvetica,Arial,Verdana,sans-serif;*/
    font-size:16px;
    line-height:26px;
    height:100%;
    width:100%;
}

a {
    color:#cc0000;
    text-decoration:none;
}

a:hover{
    color:#000;
    text-decoration:underline;
}

#page {
    background:#fff;
    margin:0 auto;
    width:980px;
}

.clear-fix{
    clear:both;
}

/*
 *-----------------------------------------------------------------------
 * HEADER
 *-----------------------------------------------------------------------
*/

#header {
    background:#fff;
    overflow:hidden;
    padding:6px;
}

#logo {
    float:left;
    margin:7px 7px 0 7px;
}

#page-title {
    float:right;
    height:36px;
}

#page-title h1{
    color: #000000;
    font-size:28px;
    font-weight:bold;
    margin:14px 16px 0 0;
}

#page-title p{
    font-size: 13px;
}

/*
 *-----------------------------------------------------------------------
 * DONATE BUTTON
 *-----------------------------------------------------------------------
*/

#donate {
    border-bottom:12px solid #D3D8D9;
    border-top:12px solid #000;
    /*background:#F0F5F6;*/
    background:#E0E5E6;
    color:#000;
    display:block;
    font-size:12px;
    overflow:hidden;
    padding:16px 16px 8px 16px;
}

#donate h3{
    font-size:16px;
    font-weight:bold;
    margin-bottom:6px;
}

#donate form{
    float:right;
    margin-right:16px;
    width:120px;
}
