@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        /* Keeps the vertical height the same compared to the old UI - this should be removed after the UI refresh */
        line-height: unset;
    }
}

@layer components {

    /* Button Overrides */

    .btn {
        --rounded-btn: 0.25rem; /* 4px */
        height: 2.5rem; /* 40px */
        min-height: 2.5rem; /* 40px */
    }

    /* Alerts */
    
    .alert {
        --alert-color: var(--n);
        --alert-outline: var(--nf);
        --alert-content: var(--nc);
        background-color: hsl(var(--alert-color) / 0.15);
        border: 1px solid hsl(var(--alert-outline) / 0.5);
        padding: 8px;
        border-radius: 4px;
        color: hsl(var(--alert-content))
    }
    .alert > img, .alert > svg {
        stroke: hsl(var(--alert-color));
    }
    .alert .alert-title {
        font-weight: 500;
        font-size: 18px;
    }
    .alert * {
        color: hsl(var(--alert-content))
    }
    
    .alert.alert-primary {
        --alert-color: var(--p);
        --alert-outline: var(--pf);
        --alert-content: var(--pf);
    }
    .alert.alert-secondary {
        --alert-color: var(--s);
        --alert-outline: var(--sf);
    }
    .alert.alert-accent {
        --alert-color: var(--a);
        --alert-outline: var(--af);
    }
    .alert.alert-info {
        --alert-color: var(--in);
        --alert-outline: var(--in);
        --alert-content: var(--in);
    }
    .alert.alert-warning {
        --alert-color: var(--wa);
        --alert-outline: var(--wa);
        --alert-content: var(--wa);
    }
    .alert.alert-error {
        --alert-color: var(--er);
        --alert-outline: var(--er);
        --alert-content: var(--er);
    }
    .alert.alert-neutral {
        --alert-color: var(--n);
        --alert-outline: var(--nf);
        --alert-content: var(--nc);
    }

    /* Chips */
    .chip {
        --chip-color: var(--n);
        --chip-outline: var(--nf);
        --chip-content: var(--nc);
        display: flex;
        align-items: center;
        padding: 4px 8px;
        font-weight: 500;
        font-size: 14px;
        background-color: hsl(var(--chip-color) / 0.15);
        border: 1px solid hsl(var(--chip-outline) / 0.5);
        border-radius: 4px;
    }
    .chip.chip-primary {
        --chip-color: var(--p);
        --chip-outline: var(--pf);
        --chip-content: var(--pc);
    }
    .chip.chip-secondary {
        --chip-color: var(--s);
        --chip-outline: var(--sf);
        --chip-content: var(--sc);
    }
    .chip.chip-accent {
        --chip-color: var(--a);
        --chip-outline: var(--af);
        --chip-content: var(--ac);
    }
    .chip.chip-info {
        --chip-color: var(--in);
        --chip-outline: var(--in);
        --chip-content: var(--inc);
    }
    .chip.chip-warning {
        --chip-color: var(--wa);
        --chip-outline: var(--wa);
        --chip-content: var(--wac);
    }
    .chip.chip-error {
        --chip-color: var(--er);
        --chip-outline: var(--er);
        --chip-content: var(--erc);
    }
    .chip.chip-neutral {
        --chip-color: var(--n);
        --chip-outline: var(--nf);
        --chip-content: var(--nc);
    }
}
