<div id="promptingSurvey" class="relative sm:fixed sm:rounded-t-lg sm:border-t sm:border-l sm:border-r border-base-300 sm:border-solid left-0 right-0 bottom-0 bg-base-200 md:w-[80%] mx-auto inline-flex flex-col sm:flex-row sm:items-center justify-center sm:gap-3 p-3 w-full text-sm">
    <strong class="prompt-title" data-i18n="surveyAsk"></strong>
    <div class="flex">
        <span class="prompt-title" data-i18n="surveyLinkMessage"></span>&nbsp;
        <a id="linkOpenSurvey" class="font-bold link link-secondary" href="https://forms.gle/SNwdQR43Z1kbuHab6" target="_blank">StayFocusd User Feedback Form</a>
    </div>
    <iconify-icon id="closePromptingSurvey" width="20" class="btn-close absolute right-2 cursor-pointer" icon="mdi:window-close"></iconify-icon>
</div>
