body {
  padding: 16px;
  font-size: 16px;
}

.vert-spacing-8 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(var(--n));
  padding: 16px;
  gap: 16px;
  border-radius: 4px;
}

.vert-spacing-4 {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.onboarding {
  width: 520px;
  height: 600px;
  border-radius: 10px;
}

.onboarding h1 {
  font-size: large;
  font-weight: bold;
}

.onboarding h2 {
  font-size: medium;
  font-weight: bold;
}

.onboarding .row {
  display: flex;
  flex-wrap: wrap;
}
.onboarding .row > * {
  margin-right: 8px;
  margin-bottom: 8px;
}

.age-row {
  display: flex;
  gap: 16px;
  align-items: center;
}

.logo-sf {
  width: 183px;
}

.logo-acquire {
  width: 32px;
  height: 32px;
}

.logo-st {
  width: 183px;
}

.logo {
  width: auto;
}

.btn-block {
  border-top: 1px solid hsl(var(--bc) / 0.12);
  padding: 8px 16px;
}

.b-none {
  border: none;
}

.p-l-checkbox {
  margin-left: 31px;
}

.line-through {
  text-decoration-line: line-through;
}

.tooltip {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
}

.tooltip .tooltip-text {
  visibility: hidden;
  background-color: hsl(var(--bc));
  color: rgba(var(--b));
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: 100%;
  right: -5rem;
  width: 20rem;
  padding: 8px;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

.tooltip .tooltip-text::after {
  content: ' ';
  position: absolute;
  bottom: 100%;
  left: 71%;
  margin-left: 1px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent hsl(var(--bc)) transparent;
}
